*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* user for design body */
body{
  background-color: rgb(29, 98, 98);
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;

}

/* used for design container */
.container{
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: calc(100vw - 65vw);
  max-width: 100%;

}

/* used to design form */
.form{
  padding: 40px;
}

.form-control{
  margin-bottom: 30px;
  position: relative;
}

/* used for design form heading */
.header{
  background-color: rgb(1, 47, 47);
  padding: 30px 0;
}

.header h2{
  color: #eccdcd;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

/* used to design form label */
.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}

/* used to design form input */
.form-control input{
  width: 100%;
  border: 2px solid #f0f0f0;
  display: block;
  font-size: 14px;
  padding: 12px;
}

/* used to design form input focus */
.form-control input:focus{
  outline: 0;
  border-color: #777;
}

/* used to add error icon and success icon form Font Awesome website */
.form-control i{
  position: absolute;
  right: 8px;
  top: 38px;
  visibility: hidden;
}

/* used to hide the error message */
.form-control small{
  visibility: hidden;
}

.form-control small{
  color: #e74c3c;
  position: absolute;
  left: 0;
  visibility: hidden;

}

/* used to unhide the small tag */
.form-control.error small{
  visibility: visible;
}

/* used to add error class and error icon in small tags */
.form-control.error i.fa-circle-exclamation{
  color: #e74c3c;
  visibility: visible;
}

.form-control.error input{
  border-color: #e74c3c;
}

/* used to add success class and success icon in small tags */
.form-control.success i.fa-circle-check{
  color: #2ecc71;
  visibility: visible;
}

.form-control.success input{
  border-color: #2ecc71;
}

/* used to design button and add hover effect */
.form .btn{
  background-color: rgb(1, 47, 47);
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .5s ease;
}

.form .btn:hover{
  background-color: rgb(11, 147, 152);
  color: black;
}